/* USER VARIABLES SECTION */

:root {
	--accent: #ffa500;
	--text: #333;
	--regular-text: 16px;
	--lineheight: 1.65;
	--deep: #171a1a;
	--dark: #202328;
	--text-light: #999999;
	--dark-div: #2D3038;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--transition: .25s ease-out;
}


/* BOOTSTRAP SETTINGS SECTION */


/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	--bs-gutter-x: .625rem;
}

.row,
.row>* {
	--bs-gutter-x: 1.25rem;
}


/* FONTS LOAD SECTION */

@font-face {
	src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/roboto-italic-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
	font-family: "roboto-st";
	font-weight: 700;
	font-style: italic;
}


/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}

::selection {
	background-color: var(--accent);
	color: #fff;
}

input,
textarea {
	outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}


/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}
.wrapper{
	position: relative;
}

/* NAVBAR */

.navbar {
	position: absolute;
	top: -10px;
	z-index: 500;
	color: #fff;
	padding: 40px 0 30px;
	/*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
	left: 40px;
	right: 40px;
}

.home-slider {
	position: relative;
	height: 100vh;
	color: #fff;
	background-color: var(--dark);
}

.logo {
	position: relative;
	top: -20px;
	font-size: 18px;
	white-space: nowrap;
	text-transform: uppercase;
	line-height: 1.1;
}

.logo_link {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 9px;
	text-decoration: none;
	font-style: normal;
	padding-left: 10px;
}

.logo_link:hover, .logo_link:focus, .logo_link:active {
	color: #fff;
}

.logo_link span {
	display: block;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .8px;
	opacity: .5;
	margin-left: 50px;
}

.logo_link i {
	position: relative;
	top: 15px;
	width: 0px;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 30px solid orange;
	display: inline-block;
}

.top-menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.top-menu_item {
	padding: 0;
	list-style: none;
	display: inline-block;
	margin: 0 5px;

}

.top-menu_link {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 3px;
	transition: background var(--transition);
}

.top-menu_link:hover,
.top-menu_link:focus,
span.top-menu_link {
	color: #fff;
	background-color: rgba(196, 196, 196, 0.2);

}

.menu-container {
	position: relative;
}
.menu-toggle {
	width: 22px;
	height: 22px;
	background-image: url(../images/menu-white.svg);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	top: 5px;
	right: 0;
	display: none;
}
.menu-toggle_active {
	background-image: url(../images/x.svg);
}
.top-menu.top-menu_active{
	visibility: visible;
	opacity: 1;
	transition: opacity var(--transition), visibility var(--transition);
}

.nav-social-wrap{
	text-align: right;
}
.nav-social{
	background-color: rgba(196, 196, 196, 0.2);
	display: inline-block;
	padding: 4px 13px 8px;
	border-radius: 10em;
}
.nav-social__item{
	display: inline-block;
	margin: 0 3px;
}
.nav-social__item img {
	width: 100%;
	max-height: 16px;
	max-width: 20px;
	opacity: 0.75;
	transition: opacity var(--transition);
}
.nav-social__item:hover img{
	opacity: 1;
}
/*swipper*/
.home-slider{
	position: relative;
	height: 100vh;
	min-height: 580px;
	max-height: 720px;
	color: #ffffff;
	background-color:var(--dark);
}
.home-slider__slide{
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.home-slider__slide::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color:var(--dark);
	opacity: .4;
}
.home-slider__slide::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	bottom: 10px;
	z-index: 1;
	box-shadow: 0 0 0 3px var(--dark);
	/*border-radius: 4px;*/
}
.home-slider__slide .container{
	position: relative;
	z-index: 20;
}
.home-slider__heading{
	font-size: 58px;
	line-height: .8;
	font-weight: 700;
	margin-bottom: 35px;
	transition-delay: .3s;
}
.home-slider__heading span{
	font-size: 16px;
	background-color: var(--accent);
	border-radius: 4px;
	padding: 7px 16px;
	font-weight: 400;
}
.home-slider__text{
	max-width: 440px;
	font-size: 16px;
	background-color: rgba(32, 35, 40, 0.9);
	padding: 15px 22px;
	border-radius: 3px;
}

/*Home-back*/
.home-back{
	background-color: var(--deep);
	padding: 60px 0;
	color: var(--text-light);
	position: relative;
	z-index: 1;
}
.home-back_header {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
	position: relative;
}
.home-back_header::after{
	content: '';
	width: 45%;
	height: 2px;
	background-color: var(--text-light);
	position: absolute;
	left: 0	;
	bottom: -13px;
}
.home-back_list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.home-back_list> * {
	display: inline-block;
	width: 30%;
	margin-right: 10px;
}

